.slider {
  width: 1200px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
  position: relative;
  background-color: #fff;
}
.wrapper {
  overflow: hidden;
  position: relative;
  background: #222;
  z-index: 1;
}
#items {
  width: 10000px;
  position: relative;
  top: 0;
  left: -1200px;
}
#items.shifting {
  transition: left .2s ease-out;
}
.slide {
  width: 1200px;
  height: 600px;
  padding: 0 60px 60px 60px;
  color: #fff;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 1s;
  position: relative;
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide1 {
  background-image: url(./img/Model718porsche.webp);
}
.slide2 {
  background-image: url(./img/Model718porsche2.webp);
}
.slide3 {
  background-image: url(./img/Model718porsche3.webp);
}
.slide4 {
  background-image: url(./img/Model718porsche4.webp);
}
.slide5 {
  background-image: url(./img/Model718porsche5.webp);
}

.control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.prev {
  background-image: url(./img/arrow-right-svgrepo-com\ \(2\).svg);
  left: -20px;
}
.next {
  background-image: url(./img/arrow-right-svgrepo-com\ \(1\).svg);
  right: -20px;
}
.prev:active,
.next:active {
  transform: scale(0.8);
}


@media (max-width: 1200px) {
  .slider {
    width: 900px;
    height: 500px;
  }
  .slide {
    width: 900px;
    height: 500px;
  }
  #items {
    width: 10000px;
    position: relative;
    top: 0;
    left: -900px;
  }

}
@media (max-width: 900px) {
  .slider,
  .slide {
    width: 600px;
    height: 400px;
  }
  .prev {
    left: 20px;
  }
  .next {
    right: 20px;
  }
}
@media (max-width: 600px) {
  .slider,
  .slide {
    width: 400px;
    height: 300px;
  }
  .prev {
    left: 20px;
  }
  .next {
    right: 20px;
  }
}