.start-model {
    background-image: url(./bgwater.webp);
    height: 100%;
}

.start__img-model {
  position: absolute;
  z-index: -10000;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(./img/porsche-zoom2.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.start-model__container {
  padding-top: 100px;
}

.item__tech {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.item__tech-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.item__tech-fuel {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.item__tech-btn,
.item__tech-btn-boxster,
.item__tech-btn-caymans,
.item__tech-btn-boxsters {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
  border: 2px solid #00b0c1;
  color: #00b0c1;

}

.item__tech-data--text {
  font-size: 18px;
}

.item__tech-data p {
  margin: 0;
  width: 100%;
}

.overlay {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  bottom: 100%;
  color: #202020;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
}

.item__tech-fuel:hover .overlay {
	display: block;
}

.idea {
  display: flex;
  background-color: #fff;
}
.model-slider {
  background-color: #fff;
}

#characteristic,
#characteristicBoxster,
#characteristicCaymanS,
#characteristicBoxsterS {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: #fff;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  -o-transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);

}
#characteristic.is-active,
#characteristicBoxster.is-active,
#characteristicCaymanS.is-active,
#characteristicBoxsterS.is-active {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

#characteristic_close,
#characteristic_close2,
#characteristic_close3,
#characteristic_close4
 {
  position: fixed;
  left: 90%;
  top: 15%;
  cursor: pointer;
  background-color: #00b0c1;
  color: #fff;
  font-size: 54px;
  width: 64px;
  height: 64px;
  padding: 0;
}

#characteristic_close:hover,
#characteristic_close2:hover,
#characteristic_close3:hover,
#characteristic_close4:hover {
  background-color: #7ce4ee;
}

.characteristic__header {
  width: 100%;
  background-color: #202020;
  padding: 20px 60px 20px 60px;
  position: relative;
}
.characteristic__header h2 {
  margin-top: 0;
  color: #fff;
  text-align: left;
}

.characteristic__header--tech {
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.characteristic__header--tech-item {
  padding: 0 20px;
  border-left: 1px solid #fff;
}
.characteristic__header--tech-item:last-child {
  border-right: 1px solid #fff;
}

.characteristic__contain {
  display: flex;
  background-color: #fff;
}

.characteristic__img {
  width: 50%;
  transform: rotate(90deg);
  height: auto;
  display: flex;
}

.characteristic__content {
  padding: 60px;
  width: 50%;
}

.characteristic__content h3 {
  font-size: 32px;
  color: #202020;
}

.content {
	transition: max-height 0.2s;
	overflow: hidden;
	&[aria-hidden="true"] {
		max-height: 0;
	}
	&[aria-hidden="false"] {
		max-height: var(--containerHeight, 1000px);
	}
}

.trigger {
  width: 100%;
	font-size: 28px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	min-height: 60px;
  border: none;
	background-color: transparent;
	[data-drawer-showing="true"] & {
		background-color: #00b0c1;
	}
}
.trigger:hover {
  background-color: #7ce4ee;
}

.content__list {
  width: 100%;
}

.content__list-item {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 50px;
  border-bottom: 1px solid #eee;
}

.content__list-item--left,
.content__list-item--right {
  width: 30%;
  text-align: left;
  margin: 0;
}

.content__list-item--left-full {
  width: 100%;
  text-align: left;
  margin: 0;
  padding-left: 20px;
}

.content__list-item--left {
  font-size: 18px;
  padding-left: 20px;
}

.content__list-item--right {
  font-weight: bold;
  font-size: 26px;
}


.idea__left {
  width: calc(40%);
  padding: 8rem;
}
.idea__right {
  width: calc(60%);
}
.idea__right-video {
  width: 100%;
}

.feedback {
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: start;
  min-height: 100%;
}

@media (max-width: 1200px) {

  .idea {
    display: block;
  }
  .idea__left {
    width: calc(100%);
  }
  .idea__right {
    width: calc(100%);
  }
}

@media (max-width: 900px) {
  .start-model,
  #characteristic,
  #characteristicBoxster,
  #characteristicCaymanS,
  #characteristicBoxsterS {
    display: none;
  }

}

















/* слайдер  */
.container {
  width: 100%;
}

.content {
	display: flex;
}

#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 24px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 150px;
  width: 100%;
  min-height: 600px;
  height: 110vh;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

#left-zone {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#right-zone {
  padding-top: 150px;
}

#left-zone .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.item input {
  display: none;
}

label {
  display: block;
  height: 60px;
  text-align: center;
  line-height: 60px;
  position: relative;
}

label:hover {
  opacity: 0.75;
  cursor: pointer;
}

.content-test {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  height: 50%;
  width: 100%;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: none;
}

.content-test h2 {
  margin-bottom: 0;
}

.content-test img {
  max-height: 450px;
}

#right-zone {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 60%;
}

input:checked ~ .content-test {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  opacity: 1;
}

@media (min-width: 480px) {
  #flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: auto;
    height: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #left-zone .list {
    border-right: 2px solid #cccccc;
  }

  .content-test {
    width: 75%;
    height: 100%;
    pointer-events: auto;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  #left-zone {
    width: 25%;
  }

  #right-zone {
    height: 100%;
    width: 75%;
  }
}

@media (max-width: 480px) {
  .content_testimonial-1 .picto {
    padding-top: 100px;
  }
  .content_testimonial-2 .picto {
    padding-top: 100px;
  }
  .content_testimonial-3 .picto {
    padding-top: 100px;
  }
  .content_testimonial-4 .picto {
    padding-top: 100px;
  }
  .item > label {
    font-size: 1.3rem;
  }
}

.content_testimonial-1 .picto {
  height: 100px;
  width: 100px;
  background-image: url("https://i.postimg.cc/RFBHkG46/diamond-Pest-Logo-small.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-1 h1 {
  color: #d64541;
  text-align: center;
}

.content_testimonial-2 .picto {
  height: 100px;
  width: 100px;
  background-image: url("https://i.postimg.cc/bsqXXKCV/a-Plus-Handyman-Logo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-2 h1 {
  color: #f5d76e;
}

.content_testimonial-3 .picto {
  height: 100px;
  width: 100px;
  background-image: url("https://i.postimg.cc/zV7sq04z/mod-Movers-Logo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-3 h1 {
  color: #00b16a;
}

.content_testimonial-4 .picto {
  height: 100px;
  width: 100px;
  background-image: url("https://i.postimg.cc/4Y3rypTz/ak-Pest-Control-Logo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-4 h1 {
  color: #f27935;
}

.content-test h1:first-letter {
  text-transform: uppercase;
}

input:checked ~ label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input:checked ~ label.label_testimonial-1 {
  color: #d64541;
  border-right: solid 4px #d64541;
}

input:checked ~ label.label_testimonial-2 {
  color: #f5d76e;
  border-right: solid 4px #f5d76e;
}

input:checked ~ label.label_testimonial-3 {
  color: #00b16a;
  border-right: solid 4px #00b16a;
}

input:checked ~ label.label_testimonial-4 {
  color: #f27935;
  border-right: solid 4px #f27935;
}


label:first-letter {
  text-transform: uppercase;
}

.label_testimonial-1:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#d64541a3)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #d64541a3);
  background-image: -o-linear-gradient(left, #ffffff, #d64541a3);
  background-image: linear-gradient(to right, #ffffff, #d64541a3);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-2:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#f5d76e59)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #f5d76e59);
  background-image: -o-linear-gradient(left, #ffffff, #f5d76e59);
  background-image: linear-gradient(to right, #ffffff, #f5d76e59);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-3:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#00b16aa3)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #00b16aa3);
  background-image: -o-linear-gradient(left, #ffffff, #00b16aa3);
  background-image: linear-gradient(to right, #ffffff, #00b16aa3);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-4:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#f27935a3)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #f27935a3);
  background-image: -o-linear-gradient(left, #ffffff, #f27935a3);
  background-image: linear-gradient(to right, #ffffff, #f27935a3);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

p.testimonialState {
  margin-top: -5px;
  font-size: 0.8rem;
  font-style: italic;
  color: #808080d4;
}

p.testimonialFrom {
  margin-top: 5px;
  font-weight: bold;
  color: #33475c;
}